
@{
    ViewBag.Title = "Tag List";
}

<h2 class="color2 titlefont">@ViewBag.Title</h2>

@foreach (var tag in ViewBag.Tags)
{
<p style="color:#f5c242">@tag.TagName</p>
<a href="/Tags/Show/@tag.TagId">Show Tag</a>
<a href="/Tags/Edit/@tag.TagId">Modify Tag</a>
<br />
<hr />
<br />
}
<br />
<a class="sidebyside btn btn-dark btncolor" href="/Tags/New">Add a new Tag</a>
<br />



