
@{
    ViewBag.Title = "Add Tag";
}


<br />
<br />
<h2  class="color2 titlefont">Add Tag</h2>

<form method="post" action="/Tags/New">

    <label  style = "color:#f5c242" >Tag Name</label>
    <br />
    <input type="text" name="TagName" />
    <br /><br />
    <button  class="sidebyside btn btn-dark btncolor" type="submit">Add Tag</button>
</form>

