<h4 style = "color:white">@ViewBag.Message</h4>
<br />
<br />
<br />

@using (Html.BeginForm("Index", "Groups", FormMethod.Get))
{
    <div>
        @Html.TextBox("search", null, new { @placeholder = "Find Groups...", @class = "form-control sidebyside" })
        <input type="submit" value="Search" class="sidebyside btn btn-dark btncolor"/>
    </div>
}
<br />
<br />

@foreach (foodies.Models.Group group in ViewBag.Groups)
{
    
<div class="panel panel-default panel-borderless" style="background-color:#202020">
    <a href="Groups/Show/@group.GroupId"><strong class="groupName"> @group.Name </strong></a>
    <br />
    <h4 class="groupDesc">@group.About</h4>
    
    <form action="Memberships/New/@group.GroupId">
        <input class="btn btncolor" type="submit" value="Join" />
    </form>


    <hr />
</div>

}
