@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>Foodies</strong></h1>
    <p class="lead">Foodies is a micro social platform for people interested in great looking food, recipes, restaurant reviews and other culinary delicacies!</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register now</a></p>
</div>

