@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<div class="jumbotron" style="background-color: #202020;">
    <h1 style="color: white;"><strong>Foodies</strong></h1>
    <p style="color: white;" class="lead">Foodies is a micro social platform for people interested in great looking food, recipes, restaurant reviews and other culinary delicacies!</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg btncolor">Register now</a></p>
</div>

