<br />
<br />
<br />

@using (Html.BeginForm("Index", "Profiles", FormMethod.Get))
{
    <div>
        @Html.TextBox("search", null, new { @placeholder = "Find Foodists...", @class = "form-control sidebyside" })

        <input type="submit" value="Search" id="searchBtn" class="sidebyside btn btn-dark btncolor" />
    </div>
}
<br />
<br />

@foreach (foodies.Models.ApplicationUser user in ViewBag.Users)
{
    if (user.Id != ViewBag.Profile.UserId)
    {
        <div>
            <a href="/Profiles/Show/@user.Id" class="txtfont"><strong> @user.Nickname </strong></a>
        </div>
        <br />
    }

}
