<br />
<h4 style="color:white">@ViewBag.message</h4>
<h2 class="titlefont" style="padding-top: 20px"><strong>Feed</strong></h2>


<br />

@foreach (RealProject.Models.Post post in ViewBag.Posts)
{
    <div class="panel panel-default panel-borderless">
        @Html.Partial("PostInfo", post)
        <div class="panel-footer panel-borderless" style="background-color:#292929; border: 0;">

            <form action="/Posts/Show/@post.Id">
                <input  class="btn btncolor" type="submit" value="Show Post" />
            </form>

        </div>
    </div>

}




